.btn-succ
{
    height: 36px;
    width: 36px;
    border-radius: 4.25rem;
    margin-left: 12px; 
    text-align: center;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.15rem;
    padding-left: 0.25rem;
    color: white;
    background-color: teal;
    line-height: 5px;
    border: none;
}
.btn_submit{
   margin-top: 12px;
    border: none;
    outline: none;
    width: 136px;
    height: 36px;
}

.btn-outline-info{
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
    border-radius: 1.5rem;
    width: 121px;
    
}

button:focus {outline:none!important;}
button:active {
    outline: none!important;
    }

.close{
    height: 36px;
    width: 36px;
    border-radius: 4.25rem;
    padding-top: 5px;
    margin-left: 12px; 
    padding-bottom: 10px;
    font-family: 'Calibri'; 
    font-size: 20px;
    border: none!important;
    outline: none;
}
.entry{
    padding: 5px;
    width: 12px;
}

div {
    text-align: center;
    font-family: 'Lucida Sans';
}

