
.btn-succ
{
    height: 36px;
    width: 36px;
    border-radius: 4.25rem;
    margin-left: 12px; 
    text-align: center;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.15rem;
    padding-left: 0.25rem;
    color: white;
    background-color: teal;
    line-height: 5px;
    border: none;
    
}
.btn_submit{
   margin-top: 12px;
    border: none;
    width: 136px;
    height: 36px;
}

button:focus {outline:none!important;}
button:active {
    outline: none!important;
    border: none!important;
    }

.close{
    height: 36px;
    width: 36px;
    border-radius: 4.25rem;
    padding-top: 5px;
    margin-left: 12px; 
    padding-bottom: 10px;
    font-family: 'Calibri'; 
    font-size: 20px;
}
.entry{
    padding: 5px;
    width: 12px;
    
}


.controls{
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.control-label{
    padding-top: 12px;
}

.card-header{
    padding-left: 80px;
}

div {
    text-align: center;
    font-family: 'Lucida Sans';
}