<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyCd3yT-00TDYD1gYM6WWWKTO6kxOVr-ho8"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(19.143702, 72.843815);
		var myOptions = {
			zoom: 8,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(19.143702, 72.843815);
		var img = new google.maps.MarkerImage('file:///C:/Users/Ritu/AppData/Local/Programs/Python/Python37-32/lib/site-packages/gmplot/markers/6495ED.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var coords = [
new google.maps.LatLng(19.067318, 72.830267),
new google.maps.LatLng(19.067182, 72.828617),
new google.maps.LatLng(19.066776, 72.827016),
new google.maps.LatLng(19.066115, 72.825515),
new google.maps.LatLng(19.065216, 72.824158),
new google.maps.LatLng(19.064109, 72.822987),
new google.maps.LatLng(19.062827, 72.822037),
new google.maps.LatLng(19.061408, 72.821337),
new google.maps.LatLng(19.059895, 72.820908),
new google.maps.LatLng(19.058336, 72.820764),
new google.maps.LatLng(19.056776, 72.820908),
new google.maps.LatLng(19.055263, 72.821337),
new google.maps.LatLng(19.053845, 72.822037),
new google.maps.LatLng(19.052562, 72.822987),
new google.maps.LatLng(19.051455, 72.824159),
new google.maps.LatLng(19.050557, 72.825516),
new google.maps.LatLng(19.049895, 72.827017),
new google.maps.LatLng(19.049490, 72.828617),
new google.maps.LatLng(19.049354, 72.830267),
new google.maps.LatLng(19.049490, 72.831917),
new google.maps.LatLng(19.049895, 72.833517),
new google.maps.LatLng(19.050557, 72.835018),
new google.maps.LatLng(19.051455, 72.836375),
new google.maps.LatLng(19.052562, 72.837546),
new google.maps.LatLng(19.053845, 72.838497),
new google.maps.LatLng(19.055263, 72.839197),
new google.maps.LatLng(19.056776, 72.839626),
new google.maps.LatLng(19.058336, 72.839770),
new google.maps.LatLng(19.059895, 72.839626),
new google.maps.LatLng(19.061408, 72.839197),
new google.maps.LatLng(19.062827, 72.838497),
new google.maps.LatLng(19.064109, 72.837547),
new google.maps.LatLng(19.065216, 72.836376),
new google.maps.LatLng(19.066115, 72.835019),
new google.maps.LatLng(19.066776, 72.833517),
new google.maps.LatLng(19.067182, 72.831917),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "FA0000",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "FA0000",
strokeOpacity: 1.000000,
strokeWeight: 1
});

polygon.setMap(map);


var coords = [
new google.maps.LatLng(19.238050, 72.857363),
new google.maps.LatLng(19.237914, 72.855711),
new google.maps.LatLng(19.237508, 72.854109),
new google.maps.LatLng(19.236847, 72.852606),
new google.maps.LatLng(19.235949, 72.851248),
new google.maps.LatLng(19.234842, 72.850075),
new google.maps.LatLng(19.233559, 72.849124),
new google.maps.LatLng(19.232140, 72.848423),
new google.maps.LatLng(19.230628, 72.847994),
new google.maps.LatLng(19.229068, 72.847850),
new google.maps.LatLng(19.227508, 72.847994),
new google.maps.LatLng(19.225996, 72.848424),
new google.maps.LatLng(19.224577, 72.849125),
new google.maps.LatLng(19.223294, 72.850076),
new google.maps.LatLng(19.222187, 72.851248),
new google.maps.LatLng(19.221289, 72.852607),
new google.maps.LatLng(19.220627, 72.854109),
new google.maps.LatLng(19.220222, 72.855711),
new google.maps.LatLng(19.220086, 72.857363),
new google.maps.LatLng(19.220222, 72.859015),
new google.maps.LatLng(19.220627, 72.860616),
new google.maps.LatLng(19.221289, 72.862119),
new google.maps.LatLng(19.222187, 72.863477),
new google.maps.LatLng(19.223294, 72.864650),
new google.maps.LatLng(19.224577, 72.865601),
new google.maps.LatLng(19.225996, 72.866302),
new google.maps.LatLng(19.227508, 72.866731),
new google.maps.LatLng(19.229068, 72.866876),
new google.maps.LatLng(19.230628, 72.866731),
new google.maps.LatLng(19.232140, 72.866302),
new google.maps.LatLng(19.233559, 72.865601),
new google.maps.LatLng(19.234842, 72.864650),
new google.maps.LatLng(19.235949, 72.863478),
new google.maps.LatLng(19.236847, 72.862120),
new google.maps.LatLng(19.237508, 72.860617),
new google.maps.LatLng(19.237914, 72.859015),
];

var polygon = new google.maps.Polygon({
clickable: false,
geodesic: true,
fillColor: "FA0000",
fillOpacity: 0.300000,
paths: coords,
strokeColor: "FA0000",
strokeOpacity: 1.000000,
strokeWeight: 1
});

polygon.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
